# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
../.env
env/
*.env

# Django-related files
db.sqlite3
*.sqlite3
/media/
*.log

# Migrations (if you want to exclude them)
**/migrations/*.py
!**/migrations/__init__.py

# Static and media files
/static/
*.pyc

# Secrets
*.pem
*.key

# IDE files
.vscode/
.idea/
*.sublime-workspace

# Node modules (if using frontend frameworks)
node_modules/

# Build files
dist/
build/
